footer {
    /*background-color: #424242;*/
    background: linear-gradient(135deg, #000000 20%, #6d7682 80%);
    width: 100%;
    margin-left: -7%;
    top:0;
    left:0;
    width: 113%;
    padding: 1.6em 2em;
    color: #fff;
}

.webarch-logo {
    text-align: center;
}

footer .legal {
    text-align: center;
}
