/*=====================*/
.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 15% auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .social-nav {
        margin: 35% auto;
    }
}

.social-nav li {
  display: inline-block;
}
.social-nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #000;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.model-0 {
  position: absolute;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
  top: 50px;
}
.model-0 li {
  float: none;
  display: block;
}
.model-0 a:hover {
  padding-left: 20px;
  width: 65px;
}
.model-0 .twitter {
  background: #00ACED;
}
.model-0 .facebook {
  background: #3B579D;
}
.model-0 .google-plus {
  background: #DD4A3A;
}
.model-0 .linkedin {
  background: #007BB6;
}
.model-0 .pinterest {
  background: #CB2026;
}
